*.json
!config/*.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.env.*
*.DS_Store
*.egg-info/
.vscode/
.idea/
skoolme-ocr-b933da63cd81*
skoolme-ocr-b933da63cd81.json
google_service_account.json
credentials.yaml
*.bak
*.tmp
*.swp
*.swo
node_modules/
System_Architecture_Overview.docx
 
